Repository kubernetes/cloud-provider-openstack, pull requests merged in 2023-10, with the labels that each got.

#2372 [occm] add `max_retries_down` support for octavia health monitors
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Labels: cncf-cla: yes, size/L, release-note, approved, lgtm

#2325 Remove handling code for glog
  cmd/barbican-kms-plugin/main.go
  cmd/cinder-csi-plugin/main.go
  cmd/client-keystone-auth/main.go
  cmd/k8s-keystone-auth/main.go
  cmd/manila-csi-plugin/main.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm

#2381 [release-1.26] [occm] add `max_retries_down` support for octavia health monitors
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Labels: cncf-cla: yes, size/L, release-note, approved, lgtm

#2387 Test get listener protocol function [ Cloud Provider OpenStack ]
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm, ok-to-test

#2402 enh: add test for get int from service annotation
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm, ok-to-test

#2385 Specify hostAliases in the cinder-csi-plugin nodeplugin-daemonset
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/values.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm, ok-to-test

#2414 CI: Fix "error: externally-managed-environment"
  tests/ci-occm-e2e.sh
Labels: size/XS, cncf-cla: yes, release-note-none, approved, lgtm

#2390 test : GetLoadBalancerName method
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm, ok-to-test

#2415 CI: Fix "error: externally-managed-environment" in CSI
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
Labels: size/XS, cncf-cla: yes, release-note-none, approved, lgtm

#2373 [occm] ensure octavia monitor is always updated
  pkg/openstack/loadbalancer.go
  pkg/util/util.go
Labels: cncf-cla: yes, size/L, release-note, approved, lgtm

#2404 test: LbaasV2 method buildPoolCreateOpt
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm, ok-to-test

#2422 [release-1.27] [occm] ensure octavia monitor is always updated
  pkg/openstack/loadbalancer.go
  pkg/util/util.go
Labels: cncf-cla: yes, size/L, release-note, approved, lgtm

#2423 [release-1.26] [occm] ensure octavia monitor is always updated
  pkg/openstack/loadbalancer.go
  pkg/util/util.go
Labels: cncf-cla: yes, size/L, release-note, approved, lgtm

#2403 test : getSecurityGroupName ()
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm, ok-to-test

#2382 [release-1.28] [occm] ensure octavia monitor is always updated
  pkg/openstack/loadbalancer.go
  pkg/util/util.go
Labels: cncf-cla: yes, size/L, release-note, approved, lgtm

#2410 Add Test for getting bool from service annotation
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm, ok-to-test

#2395 test : UpdateServiceAnnotations
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, release-note-none, size/S, approved, lgtm, ok-to-test

#2367 [occm] Make sure we don't mask LB tests failures and fix what was failing
  tests/e2e/cloudprovider/test-lb-service.sh
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm

#2392 test : getStringFromServiceAnnotation()
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm, ok-to-test

#2406 enh: add unit test for instanceID from providerID
  pkg/openstack/instances_test.go
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm, ok-to-test

#2408 feat: add unit test for createLBStatus
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm, ok-to-test

#2435 [octavia-ingress-controller]feat: add configurable listener timeout via ingress annotation
  pkg/ingress/controller/controller.go
  pkg/ingress/controller/openstack/octavia.go
Labels: cncf-cla: yes, size/M, release-note, approved, lgtm, ok-to-test

#2391 test : nodeAddressForLB()
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm, ok-to-test

#2398 test : getMemberSubnetID
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm, ok-to-test

#2431 test-buildbatchupdatememberopts
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm, ok-to-test

#2426 [1.28.1] 1.28.1 release
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  go.mod
  go.sum
  hack/bump-release.sh
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm

#2441 [occm] add a new `hack/bump-release.sh` script
  hack/bump-release.sh
  release-procedure.md
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm

#2427 [1.27.3] 1.27.3 release
  Makefile
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  go.mod
  go.sum
  hack/bump-release.sh
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/sanity/manila/fakecsiclient.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm

#2428 [1.26.4] 1.26.4 release
  Dockerfile
  Makefile
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/barbican-kms-plugin/using-barbican-kms-plugin.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  go.mod
  go.sum
  hack/bump-release.sh
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
  tests/sanity/manila/fakecsiclient.go
  tests/scripts/create-gce-vm.sh
Labels: cncf-cla: yes, release-note-none, approved, lgtm, size/XL

#2442 [occm] update kubernetes/kubernetes to v1.29.0-alpha.2 in go.mod
  go.mod
  go.sum
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm

#2444 [1.26.4] Switch to a new CI
  .github/workflows/release-cpo.yaml
  cloudbuild.yaml
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm

#2411 Test get subnet
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm, ok-to-test

#2396 test : getNetworkID method
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm, ok-to-test

#2405 enh: add tests for checkListenerPorts
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm, ok-to-test

#2433 [occm] chore: improve documentation
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/README.md
Labels: cncf-cla: yes, size/M, release-note, approved, lgtm, ok-to-test

#2437 Improve logging for boolean Service Annotations
  pkg/openstack/loadbalancer.go
Labels: size/XS, cncf-cla: yes, release-note-none, approved, lgtm, ok-to-test

#2450 mod : removed the unused service config argument and modified the tes…
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Labels: size/XS, cncf-cla: yes, release-note-none, approved, lgtm, ok-to-test

#2453 Documentation Update: New Image Build Command
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/developers-guide.md
Labels: size/XS, cncf-cla: yes, release-note-none, approved, lgtm, ok-to-test

#2448 [release-1.27] [occm] Use standard service account name in OCCM helm chart
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Labels: cncf-cla: yes, size/S, release-note-action-required, approved, lgtm

#2447 [release-1.28] [occm] Use standard service account name in OCCM helm chart
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Labels: cncf-cla: yes, size/S, release-note-action-required, approved, lgtm

#2452 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS, cncf-cla: yes, release-note-none, approved, lgtm, ok-to-test

#2429 Test buid monitor create opts
  pkg/openstack/loadbalancer_test.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm, ok-to-test

#2456 [occm] fix: octavia tlsContainerRef validation for barbican secrets
  pkg/openstack/loadbalancer.go
Labels: cncf-cla: yes, release-note-none, size/S, approved, lgtm, ok-to-test
