Repository kubernetes/cloud-provider-openstack, pull requests merged in 2025-06, with the labels that each got.

#2900 update build images
  Dockerfile
Labels: cncf-cla: yes, release-note-none

#2905 tests: Temporarily unblock gate with use of EOL Bobcat tags
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Labels: size/XS, cncf-cla: yes, release-note-none, approved, lgtm

#2901 release 1.33.0
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm

#2883 [manila-csi-plugin] Add support for authentication via clouds.yaml
  pkg/client/client.go
  pkg/csi/manila/manilaclient/builder.go
  pkg/csi/manila/validator/validator.go
  pkg/csi/manila/validator/validator_test.go
Labels: cncf-cla: yes, size/M, release-note, approved, lgtm, ok-to-test

#2911 [release-1.33][manila-csi-plugin] Add support for authentication via clouds.yaml
  pkg/client/client.go
  pkg/csi/manila/manilaclient/builder.go
  pkg/csi/manila/validator/validator.go
  pkg/csi/manila/validator/validator_test.go
Labels: cncf-cla: yes, size/M, release-note-none, approved, lgtm, ok-to-test

#2860 [cinder-csi-plugin]: ResourceExhausted code for CreateVolume
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/util/errors/errors.go
Labels: cncf-cla: yes, size/M, release-note, approved, lifecycle/stale, lgtm, ok-to-test
